In [1]:
import pandas as pd

In [3]:
data1=pd.read_csv('genotype_data/processed_data_apr05.csv',index_col=[0,1])
eth_ID=pd.read_csv('individual_dict/eth_ID.csv',index_col=[0])
eth=eth_ID['eth'].unique()

In [4]:
data1

             61849  65955  66369  67744  68303  72450  72982  73765  77005  \
eth ID
GBR HG00096      0      0      0      0      1      0      0      0      0
    HG00097      0      0      0      0      2      0      0      0      0
    HG00099      0      0      0      0      2      0      0      0      0
    HG00100      0      0      0      0      2      0      0      0      0
    HG00101      1      0      1      0      1      1      1      1      1
...            ...    ...    ...    ...    ...    ...    ...    ...    ...
GIH NA21137      0      0      0      1      1      0      0      0      0
    NA21141      1      1      1      0      0      2      1      1      1
    NA21142      1      1      1      0      0      2      1      1      1
    NA21143      0      0      0      1      0      0      0      0      0
    NA21144      0      0      0      0      0      1      0      0      0

             78705  ...  2000377  2000733  2001588  2001665  2002396  2002459  \
eth ID              ...
GBR HG00096      0  ...        2        0        0        0        0        0
    HG00097      0  ...        1        0        0        0        0        0
    HG00099      0  ...        2        0        0        0        0        0
    HG00100      0  ...        1        0        0        0        0        0
    HG00101      1  ...        1        0        0        0        0        0
...            ...  ...      ...      ...      ...      ...      ...      ...
GIH NA21137      0  ...        1        0        0        0        0        0
    NA21141      2  ...        1        1        1        1        1        1
    NA21142      2  ...        1        0        0        0        0        0
    NA21143      1  ...        1        0        0        0        0        0
    NA21144      1  ...        0        0        0        0        0        0

             2003829  2004055  2004404  2004447
eth ID
GBR HG00096        0        0        2        0
    HG00097        0        0        1        0
    HG00099        0        0        2        0
    HG00100        0        0        1        0
    HG00101        0        0        1        0
...              ...      ...      ...      ...
GIH NA21137        0        0        2        1
    NA21141        1        0        2        0
    NA21142        0        0        2        1
    NA21143        0        0        2        1
    NA21144        0        0        1        1

[2548 rows x 5917 columns]

In [8]:
eth_ID[eth_ID['ID']=='HG00096']

           ID  eth
1202  HG00096  GBR

In [7]:
data1.index

MultiIndex([('GBR', 'HG00096'),
            ('GBR', 'HG00097'),
            ('GBR', 'HG00099'),
            ('GBR', 'HG00100'),
            ('GBR', 'HG00101'),
            ('GBR', 'HG00102'),
            ('GBR', 'HG00103'),
            ('GBR', 'HG00104'),
            ('GBR', 'HG00105'),
            ('GBR', 'HG00106'),
            ...
            ('GIH', 'NA21128'),
            ('GIH', 'NA21129'),
            ('GIH', 'NA21130'),
            ('GIH', 'NA21133'),
            ('GIH', 'NA21135'),
            ('GIH', 'NA21137'),
            ('GIH', 'NA21141'),
            ('GIH', 'NA21142'),
            ('GIH', 'NA21143'),
            ('GIH', 'NA21144')],
           names=['eth', 'ID'], length=2548)